{% assign custom_blocks_enabled = true %}
{% assign category_list_enabled = true %}
{% assign category_tree_enabled = false %}
{% assign recent_articles_enabled = false %}
{% assign popular_posts_enabled = true %}

{% if custom_blocks_enabled %}
  <div class="row custom-blocks" id="custom-blocks">
    <div class="column column--xs-4 custom-block">
      <a class="custom-block__link" href="http://support.bikesonline.com/support/solutions/folders/48000633722">
        <div class="custom-block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 24 24" height="24" width="24">
              <g transform="matrix(1,0,0,1,0,0)">
                  <path d="M 8,15.5c1.381,0,2.5,1.119,2.5,2.5S9.381,20.5,8,20.5S5.5,19.381,5.5,18S6.619,15.5,8,15.5z " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 19,15.5 c1.381,0,2.5,1.119,2.5,2.5s-1.119,2.5-2.5,2.5s-2.5-1.119-2.5-2.5S17.619,15.5,19,15.5z " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 8.5,13.5v-9c0-0.552,0.448-1,1-1h13 c0.552,0,1,0.448,1,1v13 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 12.5,17.5h2 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 3.5,18.5h-2c-0.552,0-1-0.448-1-1v-6c0.007-2.206,1.794-3.993,4-4h4 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 0.5,16.5H4 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 0.5,12.5 h8" stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
          </svg>
        </div>
        <h3 class="custom-block__title">Shipping</h3>
      </a>
    </div>
    <div class="column column--xs-4 custom-block">
      <a class="custom-block__link" href="https://support.bikesonline.com/support/solutions/48000430350">
        <div class="custom-block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 24 24" height="24" width="24">
              <g transform="matrix(1,0,0,1,0,0)">
                  <path d="M 14.5,12c0-1.381-1.119-2.5-2.5-2.5S9.5,10.619,9.5,12v3.5h5V12z " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 12,12.5L19,6 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 14.5,12.5H22 c0.828,0,1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5H2c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5h7.5 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 22,15.5l-2.2,7.046 c-0.178,0.568-0.705,0.955-1.3,0.954h-13c-0.595,0.001-1.122-0.386-1.3-0.954L2,15.5 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 10.5,17.5v4 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 7.5,17.5v4 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 13.5,17.5v4 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 16.5,17.5v4 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 7.5,7.5l-7-7 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 4.5,0.5h-4v4" stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
          </svg>
        </div>
        <h3 class="custom-block__title">Returns & Exchange</h3>
      </a>
    </div>
    <div class="column column--xs-4 custom-block">
      <a class="custom-block__link" href="https://support.bikesonline.com/support/solutions/48000430576">
        <div class="custom-block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 24 24" height="24" width="24">
              <g transform="matrix(1,0,0,1,0,0)">
                  <path d="M 4.148,14.034L0.56,20.181c-0.138,0.238-0.028,0.395,0.243,0.349l3.358-0.569l1.164,3.2 c0.094,0.258,0.286,0.277,0.427,0.04l3.065-5.148 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 19.852,14.034l3.588,6.147c0.138,0.238,0.028,0.395-0.243,0.349l-3.358-0.569 l-1.164,3.2c-0.094,0.258-0.286,0.277-0.427,0.04l-3.065-5.148 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 12,0.632c4.971,0,9,4.029,9,9s-4.029,9-9,9s-9-4.029-9-9 S7.029,0.632,12,0.632z " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M 15.94,7.162l-4.72,4.72c-0.293,0.293-0.768,0.293-1.061,0c0,0,0,0,0,0l-1.72-1.72" stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
          </svg>
        </div>
        <h3 class="custom-block__title">Warranty</h3>
      </a>
    </div>
    <!--<div class="column column--xs-4 custom-block">
      <a class="custom-block__link" href="{{portal.solutions_home_url}}">
        <div class="custom-block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g>
              <g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
                <path d="M11.5 5c0-1.934 5.148-3.5 11-3.5v16.5c-5.852 0-11 1.566-11 3.5 0-1.934-5.149-3.5-11-3.5v-16.5c5.851 0 11 1.566 11 3.5zM11.5 5v16.375M9 7.24c-1.61-.616-3.887-1.063-6.5-1.24M9 10.24c-1.61-.616-3.887-1.063-6.5-1.24M9 13.24c-1.61-.616-3.887-1.063-6.5-1.24M9 16.24c-1.61-.616-3.887-1.063-6.5-1.24M14 7.24c1.61-.617 3.887-1.063 6.5-1.24M14 10.24c1.61-.617 3.887-1.063 6.5-1.24M14 13.24c1.61-.617 3.887-1.063 6.5-1.24M14 16.24c1.61-.617 3.887-1.063 6.5-1.24"/>
              </g>
            </g>
            <path hidden fill="none" d="M0 0h24v24h-24z"/>
          </svg>
        </div>
        <h3 class="custom-block__title">How to Guides</h3>
      </a>
    </div>-->
    <div class="column column--xs-4 custom-block">
      <a class="custom-block__link" href="http://support.bikesonline.com/support/solutions/folders/48000633721">
        <div class="custom-block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 24 24" height="24" width="24">
            <g transform="matrix(1,0,0,1,0,0)">
                <path d="M 12,1.001c6.075,0,11,4.925,11,11s-4.925,11-11,11s-11-4.925-11-11S5.925,1.001,12,1.001z " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M 12,17 c-0.138,0-0.25,0.112-0.25,0.25S11.862,17.5,12,17.5s0.25-0.112,0.25-0.25S12.138,17,12,17L12,17 " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M 9,10.005c0-1.657,1.344-3,3-3 c1.657,0,3,1.344,3,3c0,1.193-0.707,2.272-1.8,2.749c-0.729,0.318-1.2,1.038-1.2,1.833V15" stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <h3 class="custom-block__title">FAQ</h3>
      </a>
    </div>

    <div class="column column--xs-4 custom-block">
      <a class="custom-block__link" href="/support/tickets/new">
        <div class="custom-block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 24 24" height="24" width="24">
            <g transform="matrix(1,0,0,1,0,0)">
                <path d="M 2.5,3.954h19c1.105,0,2,0.895,2,2v12c0,1.105-0.895,2-2,2h-19c-1.105,0-2-0.895-2-2v-12 C0.5,4.849,1.395,3.954,2.5,3.954z " stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M 22.911,4.536L12,13.454L1.089,4.536" stroke="#000000" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
        </div>
        <h3 class="custom-block__title">Submit a Request</h3>
      </a>
    </div>
  </div>
{% endif %}

{% if category_list_enabled %}
    <ul class="row category-list clearfix" id="category-list">
      {% for category in portal.solution_categories limit:3 %}
        {% if category.folders_count > 0 %}
      <li class="column column--sm-4 category-list-item ">
            <a class="category-list-item__link" href="{{category.url}}">
              <h2 class="h5 category-list-item__title">{{category.name}}</h2>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

{% if recent_articles_enabled %}
  {% if portal.recent_articles.size > 0 %}
    <div class="recent-articles" id="recent-articles">
      <h3 class="recent-articles__title">Recent articles</h3>
      <ul class="row recent-articles__list">
        {% for article in portal.recent_articles limit:6 %}
          <li class="column column--sm-4 recent-articles-item">
            <a class="recent-articles-item__title" href="{{article.url}}">{{article.title | h}}</a>
            {% if article.body_plain != blank %}
              <p class="recent-articles-item__excerpt meta">
                {{article.body_plain | h || truncate:80}}
              </p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}

{% if category_tree_enabled %}
  <div class="category-tree" id="category-tree">
    {% for category in portal.solution_categories %}
      {% if category.folders_count > 0 %}
        <section class="category-tree-item">
          <h2 class="category-tree-item__title">
            <a class="category-tree-item__title-link" href="{{category.url}}">{{category.name}}</a>
          </h2>
          <div class="category-tree-item__folders row clearfix">
            {% for folder in category.folders %}
              {% if folder.articles_count > 0 %}
                <section class="column column--sm-6 column--md-4 folder">
                  <h3 class="folder__title">
                    <a class="folder__title-link" href="{{folder.url}}">{{folder.name}}</a>
                  </h3>
                  <ul class="articles">
                    {% for article in folder.articles | limit: 5 %}
                      <li class="articles__item">
                        <a class="articles__link" href="{{article.url}}">{{article.title | h}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% if folder.articles.size > 5 %}
                    <a href="{{folder.url}}" class="btn btn-default see-all-articles">
                      View all ({{folder.articles_count}})
                    </a>
                  {% endif %}
                </section>
              {% endif %}
            {% else %}
              {{portal | filler_for_solutions}}
            {% endfor %}
          </div>
        </section>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if portal.has_forums and popular_posts_enabled %}
  {% if portal.recent_popular_topics.size > 0 %}
    <div class="popular-posts" id="popular-posts">
      <h3 class="popular-posts__title">Popular posts</h3>
      <ul class="row clearfix popular-posts__list">
        {% for topic in portal.recent_popular_topics limit:6 %}
          <li class="column column--sm-4 popular-posts-item">
            <span class="popular-posts-item__forum">{{topic.forum.name}}</span>
            <a class="popular-posts-item__title" href="{{topic.url}}">{{topic.title | h}}</a>
            <p class="popular-posts-item__excerpt meta">
              <span class="fa fa-comment-o"></span> {{topic.comment_count}}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}

<section class="footer-submit-ticket">
  <h2 class="footer-submit-ticket__title">Can't find what you're looking for?</h2>
  <p class="footer-submit-ticket__subtitle">Let us help you!</p>
  <p class="footer-submit-ticket__btn">
    <a href="{{portal.new_ticket_url}}" class="btn btn-primary">
      Submit a Ticket
    </a>
  </p>
</section>
