@charset "UTF-8";

html {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  background: #fff;
  color: #5e5e5e;
}

body,
input, button, select, textarea, .btn,
button.btn.btn-primary, input[type="submit"].btn.btn-primary, p, label {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:focus, a:hover, .a-link:hover {
  color: #00a7d1;
  text-decoration: none;
}

li {
  line-height: 1.2;
}

.container {
  padding: 0 15px;
  margin: 0 auto
}

img {
  height: auto;
}

input,
select,
textarea,
input.special,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 3px;
  background: #fff;
  outline: none;
  padding: 15px 15px;
  height: auto;
  margin-bottom: 10px;
  border-color: #8c8c8c;
}

.alert {
  font-size: 14px;
}

.redactor_box {
  border-color: #8c8c8c;
  border-radius: 3px;
}

#attachment-type .add_attachment {
  color: #00a7d1;
}

.btn, button.btn.btn-primary, input[type="submit"].btn.btn-primary {
  border: 0;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 14px;
}

button.btn.btn-primary, input[type="submit"].btn.btn-primary {
  background-color: #00a7d1;
  color: #fff !important;
}

.container .content .heading {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.container .content .heading:first-child {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 1em;
}

.article figure {
  margin: 1em 0 2em;
}

.article blockquote:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
}

.article blockquote:after {
  content: "ïŸ";
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: #00a7d1;
  font-family: "Ionicons";
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.5em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}

.heading-blue-bg {
  background: #00a7d1;
  color: #fff;
  padding: 1em 2em;
  font-size: 24px;
  display: inline-block;
  margin: 1em auto;
}

.text-center {
  text-align: center;
}

.helpdesk_view+img {
  display: none;
}

@media (min-width:768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1170px
  }
}

.visible-xs {
  display: block !important
}

.hidden-xs {
  display: none !important
}

.bo-custom hr {
  border-color: #efefef
}

.bi-invert {
  filter: invert(1);
}

.bo-custom .wrapper-left-menu {
  padding-right: 0;
  padding-top: 5px
}

.bo-custom .wrapper-right-menu {
  padding-left: 0;
  padding-top: 5px
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #fff
}

.layout__content {
  flex: 1 0 auto;
  width: 100%;
  padding-bottom: 60px;
  padding: 30px 0 60px;
  min-height: 50vh;
}

.layout__content:after {
  content: '\00a0';
  display: block;
  height: 0;
  visibility: hidden
}

.layout__footer,
.layout__header {
  flex: none
}

.lines-button {
  padding: 0 7.5px;
  margin-top: -2px !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0;
  transition: .3s
}

.lines-button {
  float: right
}

.lines-button:hover {
  opacity: 1
}

.lines-button:active {
  outline: 0;
  box-shadow: none;
  transition: 0
}

.lines-button:focus {
  outline: 0
}

.lines {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: .3s
}

.lines:after,
.lines:before {
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 2.14286px center;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: .3s
}

.lines:before {
  top: 7.5px
}

.lines:after {
  top: -7.5px
}

.csstransforms3d .lines-button.is-active {
  transform: scale3d(.8, .8, .8)
}

.csstransforms3d .lines-button.is-active .lines {
  background: 0 0
}

.csstransforms3d .lines-button.is-active .lines:after,
.csstransforms3d .lines-button.is-active .lines:before {
  top: 0;
  width: 30px;
  transform-origin: 50% 50%
}

.csstransforms3d .lines-button.is-active .lines:before {
  transform: rotate3d(0, 0, 1, 45deg)
}

.csstransforms3d .lines-button.is-active .lines:after {
  transform: rotate3d(0, 0, 1, -45deg)
}

.logo {
  float: none;
  margin: 0;
  max-width: 180px;
}

.bo-custom p.help-center-name {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px
}

.bo-custom p.help-center-name a {
  color: #fff
}

.bo-custom p.help-center-name a:active,
.bo-custom p.help-center-name a:focus,
.bo-custom p.help-center-name a:hover {
  opacity: .8
}

.hero-unit {
  position: relative;
  padding: 20px 15px 30px;
  background: url(https://images.bikesonline.com/assets/images/help-center-hero.jpg) no-repeat no-repeat 72% -10vh;
  background-size: cover;
  min-height: 33vh;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}

.intro-title {
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
  line-height: 1.2
}

.intro-title .h1 {
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hero-text {
  font-size: 20px;
}

.hc-search-input {
  position: relative
}

.hc-search-input input[type=text] {
  box-shadow: none
}

.hc-search-input:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  color: #5e5e5e;
  content: "\f002";
  font-size: 18px
}

.hc-search-input input[type=text] {
  display: inline-block;
  padding-right: 10px;
  padding-left: 35px !important;
  border-radius: 0;
  background-color: rgba(255, 255, 255, .9);
  color: #333;
  font-size: 14px;
  transition: border .3s ease
}

.hc-search-input input[type=text]::-moz-placeholder {
  color: #333;
  opacity: 1
}

.hc-search-input input[type=text]:-ms-input-placeholder {
  color: #333
}

.hc-search-input input[type=text]::-webkit-input-placeholder {
  color: #333
}

@media (max-width:991px) {
  .hc-search-input input[type=text]::-moz-placeholder {
    font-size: 14.5px
  }

  .hc-search-input input[type=text]:-ms-input-placeholder {
    font-size: 14.5px
  }

  .hc-search-input input[type=text]::-webkit-input-placeholder {
    font-size: 14.5px
  }
}

.hc-search-input input[type=text] {
  box-shadow: none
}

.search-box {
  position: relative
}

.search-box--hero-unit {
  z-index: 2;
  margin: 0 auto;
  max-width: 720px
}

@media (max-width:767px) {
  .search-box--hero-unit .hc-search-input {
    width: 100%
  }
}

.search-box--hero-unit .hc-search-input:before {
  left: 10px;
  margin-top: -11px;
  font-size: 22px
}

.search-box--hero-unit .hc-search-input input[type=text] {
  padding: 0 55px !important;
  height: 50px;
  border-color: #fff;
  border-radius: 0;
  transition: background-color .3s ease;
  font-size: 20px !important
}

.search-box--hero-unit .hc-search-input input[type=text]:focus {
  background-color: #fff
}

.search-box--hero-unit .hc-search-button {
  width: 16%
}

.search-box--hero-unit .hc-search-button .btn {
  display: none;
  padding-right: 16px;
  padding-left: 16px;
  height: 50px;
  border-radius: 0;
  font-size: 18px;
  background-color: #20a5e8 !important;
  border-color: #20a5e8 !important
}

.search-box--hero-unit .hc-search-button .btn .mobile-icon-search {
  display: none
}

.search-box--hero-unit .hc-search-button .btn .hide-in-mobile {
  display: block
}

.alert {
  margin: 0
}

.topbar {
  width: 100%;
  background: #565656;
  margin-bottom: 0;
  min-height: 20px;
}

.topbar__controls>li>.topbar-link {
  color: #fff;
  padding: 15px 5px;
  display: inline-block;
}

.bi-expand {
  display: inline-block;
  margin-left: 5px;
}

.topbar__inner {
  margin: 0 auto;
  width: 100%
}

.topbar__col {
  position: relative;
  padding: 12px 0
}

.bo-custom .wrapper-header {
  padding: 18px 0;
  padding: 7px 0;
  background: #fff;
  border-bottom: 1px solid #efefef
}

.search-box--hero-unit .hc-search-input:before {
  display: none
}

.hc-search-input {
  width: 84%
}

.search-box--hero-unit .hc-search-button .btn {
  background-color: #00a7d1 !important
}

.wrapper-logo {
  position: relative;
  display: flex;
  align-items: center
}

.logo-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.logo-help-text {
  color: #00a7d1;
  font-weight: 600;
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #00a7d1;
  line-height: 1.2;
  font-size: 16px;
  text-align: left
}

.masthead-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0
}

.bo-custom .top-links {
  display: none
}

.submenu, .submenu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-links li {
  position: relative;
}

.top-link .bi {
  position: relative;
  top: -2px;
}

.bo-custom .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  background: #fff;
  padding: 15px 0;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
  opacity: 0;
  min-width: 13em;
  text-align: left;
}

.top-links .submenu {
  top: 40px;
}

.top-links>li:hover .submenu {
  display: block;
  opacity: 1;
}

.bo-custom .top-link {
  color: #555 !important;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
}

.submenu a {
  color: #222 !important;
  display: block;
  padding: 8px 35px;
  font-size: 15px;
}

.bo-custom .top-link:hover {
  color: #000
}

.bo-custom .top-link.login {
  color: #fff !important;
  padding: 10px 30px;
  background: #00a7d1;
  border-radius: 3px;
}

.bo-custom .top-link.login .bi {
  filter: invert(1);
}

.bo-custom .top-link.login:hover {
  background-color: #009cc3;
  color: #fff !important;
}

.topbar__controls {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.topbar__collapse {
  display: none;
  padding-bottom: 24px;
}

.topbar__menu {
  padding: 0
}

.topbar__controls>* {
  display: block;
  text-align: center;
}

.topbar__controls>b>a {
  display: block
}

.scroll-to-top {
  display: none;
  position: fixed;
  right: 25px;
  bottom: -50px;
  z-index: 99999999;
  font-size: 32px !important;
  line-height: 45px !important;
  text-align: center;
  border: 1px solid #20a5e8;
  border-radius: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #20a5e8;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.scroll-to-top img {
  filter: invert(68%) sepia(75%) saturate(5240%) hue-rotate(158deg) brightness(94%) contrast(101%);
  transform: rotate(180deg);
}

.scroll-to-top:active,
.scroll-to-top:focus {
  outline: 0
}

.scroll-to-top.active {
  opacity: 1;
  bottom: 105px;
}

.row-copyright {
  font-size: 13px;
  text-align: center;
  color: #222;
  background: #efefef;
  padding: 30px 0;
}

@media (min-width:768px) {
  .visible-xs {
    display: none !important
  }

  .bo-custom .wrapper-header {
    padding: 10px 0 18px;
    background: #fff
  }

  .logo {
    max-width: none;
  }

  .submenu a:hover {
    background-color: #efefef;
    color: #000 !important;
  }

  .lines-button {
    display: none;
    float: none;
  }

  .intro-title {
    line-height: 1.2
  }

  .intro-title .h1 {
    font-size: 75px;
  }

  .hero-text {
    font-size: 30px;
  }

  .search-box--hero-unit .hc-search-input {
    width: 82%
  }

  .search-box--hero-unit .hc-search-button .btn {
    display: block
  }

  .search-box--hero-unit .hc-search-button {
    float: right
  }

  .topbar__inner {
    display: table
  }

  .masthead-wrap {
    justify-content: space-between;
    padding: 0
  }

  .bo-custom .top-links {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0
  }

  .logo-help-text {
    font-size: 19px
  }

  .topbar__col {
    display: table-cell;
    vertical-align: middle
  }

  .topbar__controls>li {
    position: relative;
  }

  .topbar__controls .submenu {
    background-color: #fff;
  }

  .topbar__controls>li:hover .submenu {
    display: block;
    opacity: 1;
  }

  .topbar__controls .submenu a {
    color: #222 !important;
    width: 20em;
  }

  .topbar__controls .submenu a:hover {
    color: #000 !important;
  }

  .topbar__controls>* {
    display: inline-block;
    vertical-align: middle
  }

  .topbar__controls>*+* {
    margin-left: 15px
  }

  .topbar__collapse {
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .hero-unit {
    background-position: 72% -24vh;
    padding: 60px 15px;
  }

  .hc-search-form {
    margin-bottom: 30px;
  }

  .scroll-to-top:hover {
    color: #1277aa;
    border-color: #1277aa
  }
}

@media (min-width:992px) {

  .search-box--hero-unit .hc-search-input input[type=text],
  .search-box--hero-unit .hc-search-button .btn {
    height: 60px
  }

  .intro-title {
    margin-bottom: 36px;
    font-size: 45px
  }
}

@media (min-width:1200px) {
  .hero-unit {
    background-position: center -101px;
  }
}

@-ms-viewport {
  width: device-width
}

.section-title-wrap {
  text-align: center;
}

.section-title {
  display: inline-block;
  color: #fff;
  background: #00a7d1;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 600;
}
